apiVersion: v1
kind: Service
metadata:
  name: video-worker
  labels:
    {{- include "stereo-spot.labels" . | nindent 4 }}
    app: video-worker
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: metrics
  selector:
    app: video-worker
